
{% block content %}
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<img src="{{ MEDIA_URL }}img/egTKImIneQw_2.jpg" alt="">
			</div>

				{% for image in image_url %}

					{% if image.id_photo_gallery == None %}
					{% else %} {% if image.id_photo_gallery %}
						<div class="item">
						<img alt="" src="{{ MEDIA_URL }}{{ image.image }}"/>
						</div>
					{% endif %}
					{% endif %}

				{% endfor %}
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>



{% endblock%}
